# .env.example - Template (SAFE TO COMMIT)
# Copy file này thành .env.local và điền giá trị thực

# Base URL cho backend API
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
# Staging: https://your-staging-backend-url.a.run.app
# Production: https://your-production-backend-url.a.run.app

NEXT_PUBLIC_SUPABASE_URL=https://nhukdudpdfxsimhqzetp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5odWtkdWRwZGZ4c2ltaHF6ZXRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4Nzc3NTAsImV4cCI6MjA5MzQ1Mzc1MH0.5oYNdKBk16PIihvYUCFMNAtc5sUqyL5qUEQLhz2nwIs
#sbp_9e3991a3b1afd46482d36f862dd99406d806c95a
#NEXT_PUBLIC_API_URL=http://localhost:3001
